@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap');

.App{
  max-width: 960px;
  margin: 0 auto;
  color:red !important;
}

.title h1{
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
}

.title h2, .title p{
  text-align: center;
}

.title h2{
  margin-top: 60px;
  font-size: 2.6rem;
}